/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	body {
		background: $site-bg;
	 	height: 100%;
	}
}
*, *:before, *:after { box-sizing: inherit; }