.content-wrapper {
    @include clearfix;
    background-color: $main-bg;
    padding: 1em 1em;
    max-width: 1100px;
    margin: 0 auto;
    @include breakpoint($tablet, $no-query: ".no-mq") {
        padding: 2em 2em;
        box-shadow: 0px 0px 8px 0px rgba(black,0.3);
    }
}
.not-front main {
    header {
        border-bottom: 1px solid $color-four;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
    }
}
main header {
    h1 {
        margin-bottom: 0.1em;
        margin-top: 0;
    }
    .subtitle {
        margin-top: .2em;
        margin-bottom: 0;
    }
}
