<div class="call-to-action">
  <h3>Have a project you need help with?</h3>
  <div class="btn">
    <a href="/start-a-project/" title="Start A Project">Get in touch</a>
  </div>
</div>
<footer class="top-footer clearfix">  
  <div class="footer-one footer-wrapper">
    <div class="vcard editable"><h3 class="fn org">Variant Studios, Inc.</h3><p><span class="adr"><span class="street-address"><em>office <em>address</em>:</em><br />619 South College</span><br /><span class="locality">Fort Collins</span>, <span class="region">CO</span> <span class="postal-code">80524</span></span><br /><span class="tel phone-icon">(970) 324-4037</span></p><p><em>mailing address:</em><br />PO Box 2452<br />Fort Collins, CO 80522</p><div class="btn"><a title="Subscribe to our Newsletter" href="/newsletter/">Subscribe</a></div></div>
  </div>
  <div class="footer-two footer-wrapper">
   {% include footer-journal.html %}
  </div>
  <div class="footer-three footer-wrapper">
    {% include footer-testimonial.html %}
  </div>
</footer>
<footer class="bottom-footer clearfix">
  <div class="footer-left">&copy;  2001-{{ site.time | date: '%Y' }} Variant Studios, Inc. All rights reserved. <a href="/terms-conditions/">Terms &amp; Conditions</a></div>
  <div class="footer-right">
      <a href="https://www.facebook.com/variantstudios" title="Variant Studios Facebook Feed" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a> 
      <a href="https://twitter.com/variantstudios" title="Variant Studios Twitter Feed" target="_blank">
        <i class="fa fa-twitter-square"></i>
      </a> 
      <a href="https://plus.google.com/+Variantstudios" title="Variant Studios Google+" target="_blank">
        <i class="fa fa-google-plus-square"></i>
      </a>
      <a href="http://instagram.com/variantstudios" title="Variant Studios Instagram Feed" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
</footer>
