<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.1/picturefill.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>

{% if page.permalink == "/contact/" %}
 <script src="/assets/js/prod/validation.js"></script>
{% endif %}

{% if page.permalink == "/start-a-project/" %}
 <script src="/assets/js/prod/validation.js"></script>
{% endif %}


{% if page.permalink == "/studio/" %}
  <script src="/assets/js/prod/instafeed.min.js"></script>
  <script src="/assets/js/prod/instagram.js"></script>
{% endif %}

<script type="text/javascript" src="/assets/js/prod/scripts.js"></script>

{% if site.google_analytics_tracking_id %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics_tracking_id }}');
</script>
{% endif %}

<script type="text/javascript" src="/assets/js/prod/testimonials.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#quotes").quotator({
    	speed : 9000,
    	json : "/testimonials.json"
	});
});
</script>