.services {
  .row-item {
    @include clearfix;
      padding: 1em 0 3em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: 1em 2em 3em;
        width: 49%;
        vertical-align: top;
        display: inline-block;
      }
      h3 {
        border-bottom: 5px solid #000;
        margin-top: 1em;
        font-size: 145%;
        padding-bottom: 1em;
        line-height: 1.4;
      }
  }
  
  div.svg {
    margin: 0 auto;
     @include breakpoint($tablet, $no-query: '.no-mq') {
      float: left;
      margin-right: 3em;
      width: 300px !important;
      text-align: center;
    }
    @include breakpoint($desktop, $no-query: '.no-mq') {
      width: 400px !important;
    }
  }

  .service-detail {
    overflow: hidden;
  }
}

