.call-to-action {
  margin: 0em -2em 0em;
  text-align: center;
  padding: 2em 1em;
  background: #41464E;
  background: url('../images/bg/postscript.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint($phone) {
    padding: 1em;
  }
  .btn a {
    /*color: $gray-10;*/
    color: #fff;
    background-color: #55cd98;
    margin-top: 0;
    webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      /*background: $gray-10;*/
      background-color: #48bc89;
      color: #fff;
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  h3 {
    font-weight: 300;
    font-size: 1.55em;
    font-style: italic;
    margin-top: .5em;
    margin-bottom: .5em;
    @include breakpoint($phone) {
      font-size: 140%;
    }
  }
}

footer.top-footer {
  border-top: #f1f2f2 1px solid;
  color: #666666;
  font-size: .9em;
  margin: 0 -2em;
  div.footer-wrapper {
    padding: 1.5em 1.5em 0em;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      padding: 1.5em 1.5em 3em;
    }
    h3, h4 {
      margin: 0 0 .3em 0;
    }
    h4 {
      font-size: 1.2em;
      /* font-weight: 700; */
      line-height: 1.4;
      border-top: 1px solid #EFEFEF;
      margin-top: .5em;
      padding-top: 1em;
      margin-bottom: .5em;
    }
  }
}

footer.bottom-footer {
  background: #222222;
  color: #666666;
  padding: 1em 2em 0.5em;
  margin: 0 -2em;
}


.bottom-footer {
  margin: 0 -2em;
   @include breakpoint($phone) {
    text-align: center;
  }
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 1em 0em;
  }
  div {
    margin-top: 0;
    font-size: 80%;
    color: #CCC;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      margin: 0;
    }
    a {
      text-decoration: none;
      i {
        font-size: 200%;
        padding: 0 .25em;
        color: #CCC;
        @include animate-link(all, 0.25s, linear);
        &.fa-facebook-square {
          color: #447FD6;
        }
         &.fa-twitter-square {
          color: #28B4EB;
        }
         &.fa-instagram {
          color: #E2C243;
        }
        &.fa-google-plus-square {
          color: #dd4b39;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.footer-right {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    text-align: right;
  }
}

.footer-two {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    border-left: #f1f2f2 1px solid;
    border-right: #f1f2f2 1px solid;
  }
}
.footer-three {
  position: relative;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 1.5em 1.5em 3em 0 !important;
  }
  @include breakpoint($phone) {
      min-height: 24em;
    }
}