button {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.btn  a, input[type="submit"], input[type="button"], #edit-submit {
  color: #a7a5a5;
  background: none;
  border: 1px solid #ccc;
  padding: .35em 1.5em;
  margin: 1em auto 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  display: inline-block;
  font-family: $base-font-family;
  @include breakpoint($phone) {
    font-size: 90%;
  }
  &:hover {
    color: #fff;
    background: #222;
    
  }
}

.header--banner {
  .btn a {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #222;
      background: #fff; 
    }
  }
}


.fill {
    border: 0;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
}

.btn.small a {
  font-size: 85%;
  border: 1px solid #ccc;
}


.site-intro a {
    @extend .btn;
    @extend .fill
}


input[disabled] {
  opacity: .5;
  color: #aaa !important;
  &:hover {
    background: none !important;
    border: 1px solid #ccc !important;
  }
}
input[type="submit"].sendButton {
  &:hover {
    border-color: $valid;
    background: #F7FFF5;
   color: #77BD6A;
  }
}

a.back-button {
  font-size: 85%;
  text-decoration: none;
  color: #6B6B6B;
  padding: .3em 1em;
  background: #FFF;
  display: inline-block;
  color: #fff;
  background: #222;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}